@model Tomates.Models.Pelicula

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ImagenSrc" class="control-label"></label>
                <input asp-for="ImagenSrc" class="form-control" />
                <span asp-validation-for="ImagenSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomatometroCalificacion" class="control-label"></label>
                <input asp-for="TomatometroCalificacion" class="form-control" />
                <span asp-validation-for="TomatometroCalificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudienciaCalificacion" class="control-label"></label>
                <input asp-for="AudienciaCalificacion" class="form-control" />
                <span asp-validation-for="AudienciaCalificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomatometroContadorCalificacion" class="control-label"></label>
                <input asp-for="TomatometroContadorCalificacion" class="form-control" />
                <span asp-validation-for="TomatometroContadorCalificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudienciaContadorCalificacion" class="control-label"></label>
                <input asp-for="AudienciaContadorCalificacion" class="form-control" />
                <span asp-validation-for="AudienciaContadorCalificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clasificacion" class="control-label"></label>
                <input asp-for="Clasificacion" class="form-control" />
                <span asp-validation-for="Clasificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LenguajeOriginal" class="control-label"></label>
                <input asp-for="LenguajeOriginal" class="form-control" />
                <span asp-validation-for="LenguajeOriginal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLanzamientoCine" class="control-label"></label>
                <input asp-for="FechaLanzamientoCine" class="form-control" />
                <span asp-validation-for="FechaLanzamientoCine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLanzamientoTransmision" class="control-label"></label>
                <input asp-for="FechaLanzamientoTransmision" class="form-control" />
                <span asp-validation-for="FechaLanzamientoTransmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distribuidor" class="control-label"></label>
                <input asp-for="Distribuidor" class="form-control" />
                <span asp-validation-for="Distribuidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoProduccion" class="control-label"></label>
                <input asp-for="CoProduccion" class="form-control" />
                <span asp-validation-for="CoProduccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
